*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --font-style: "Roboto Mono", monospace;
    --font-color: #fbfafb;
    --background-color: #080010;
    --calculator-bg-color: #36454F;
    --output-bg-color: #389844;
    --calculator-keys-color: #F9F6EE;
    --calculator-clear-color: #520002; 
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--font-style);
    background: var(--background-color);
    color: var(--font-color);
}

.calculator { 
    width: 50vh;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 2rem auto;
    padding: 0.5rem 1rem 1rem 1rem;
    background: var(--calculator-bg-color);
    box-shadow: 0px 0px 33px 4px rgba(2,48,59,1);
}

.calculator-title {
    text-align: center;
}

.calculator-output {    
    background: var(--output-bg-color);
    font-size: 3.5rem;
    text-align: end;
    color: black;
    border-style: solid;
    border-color: black;
    margin: 0 0 1rem 0;
    padding-block-start: 0.25rem;
    padding-block-end: 0.25rem;
    padding-inline-end: 0.75rem; 
}

.output-display {
    overflow: hidden;
    padding-left: 5px;
}

/* Use CSS Grid here */
.calculator-keys {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 10px;
}

.calculator-key {
    background-color: var(--background-color);
    color: var(--calculator-keys-color);
    font-size: 2.5rem;
    padding: 0.5rem;
    border-radius: 15px;
}

#allClear {
    background: var(--calculator-clear-color);
}

.calculator-key-operator-big {
    grid-column: 4 / 5;
    grid-row: 3 / span 2;
}

button:hover {
    border-color: #646cff;
}


/* Fix this for max height please */
@media only screen and (max-width: 400px),
    screen and (max-height: 500px) {
    .calculator {
        margin-top: 6rem;
        width: 40vh;
    }

    .calculator-title {
        font-size: 0.8rem;
    }
    
    .calculator-output {
        font-size: 2rem;
    }

    .calculator-key {
        font-size: 1.5rem;
    }

    footer {
        position: fixed;
        left: 0;
        width: 100%;
    }
}
  
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
 
.github-logo {
    width: 30px;
    height: 30px;
}
