*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --font-style: "Roboto Mono", monospace;
    --font-color: #fbfafb;
    --background-color: #080010;
    --calculator-bg-color: #36454F;
    --output-bg-color: #389844;
    --calculator-clear-color: #520002; 
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--font-style);
    background: var(--background-color);
    color: var(--font-color);
}

.calculator {
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: fit-content;
    margin: 2rem auto;
    padding: 0 1rem 1rem 1rem;
    overflow: hidden;
    background: var(--calculator-bg-color);
}

.calculator-output {    
    background: var(--output-bg-color);
    margin: 0 0 1rem 0;
    padding-block-start: 0.25rem;
    padding-block-end: 0.25rem;
    padding-inline-end: 0.75rem; 
}

.output-display {
    font-size: 3.5rem;
    text-align: end;
}

.calculator-keys {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.calculator-key {
    font-size: 3rem;
    border-radius: 15px;
}

.calculator-key-operator {

}

.calculator-key-operator-big {
    grid-column: 4 / 5;
    grid-row: 3 / span 2;
}

/* Use CSS Grid on Buttons */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
 
.github-logo {
    width: 30px;
    height: 30px;
}
